/*/.terraform/*
/*/*/.terraform/*
/*/*/*/.terraform/*

*.terraform
/*/*.terraform
/*/*/*.terraform

/*.terraform/*
/*/*.terraform/*
/*/*/*.terraform/*

/*/.terraform*.hcl
/*/*/.terraform*.hcl
/*/*/*/.terraform*.hcl

.DS_Store

/*/*.tfstate
/*/*.tfstate.backup